{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<header class="d-flex justify-content-center align-items-center">
		<h1>
			Bienvenue sur Wild immo !
		</h1>
	</header>
	<main class="container">
		<section class="pt-5 mx-md-5 m-auto">
			<h2 class="text-primary my-5 fw-light h3">Nos guides</h2>
			<div class="row gx-5">
				{% for guide in guides %}
				{# xs sm md lg xl xxl #}
					<div class="col-sm-6 col-md-4">
						<div class="card border border-0">
							<img class="rounded-5" src="{{ guide.image ?? asset('build/images/guide_placeholder.jpg' )}}" class="card-img-top" alt="">
							<div class="card-body">
								<h2 class="card-title mt-1 me-md-5 fs-6">{{ guide.title }}</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
