{% extends 'adminLayout.html.twig' %}

{% block title %}Éditer le guide
{% endblock %}

{% block body %}
<main class="container">
	<h1>Éditer le guide</h1>

	{{ include('admin_guide/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a class="mt-5 btn btn-outline-secondary" href="{{ path('app_admin_guide_index') }}">Retour</a>

	{{ include('admin_guide/_delete_form.html.twig') }}
    </main>
{% endblock %}
