{% extends 'adminLayout.html.twig' %}

{% block title %}New Guide
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Créer un guide</h1>

		{{ include('admin_guide/_form.html.twig') }}

		<a class="mt-5 btn btn-outline-secondary href="{{ path('app_admin_guide_index') }}">Retour</a>
	</main>
{% endblock %}
