{% extends 'adminLayout.html.twig' %}

{% block title %}New Estate
{% endblock %}

{% block body %}
	<main class="container mt-3">
		<h1>Créer un nouveau bien</h1>
			{{ include('admin_estate/_form.html.twig') }}
		<a class="btn btn-outline-secondary mt-3" href="{{ path('app_admin_estate_index') }}">Retour</a>
	</main>
{% endblock %}
