header {
    --header-height: 50vh;
    background-image: url('../images/header.jpg');
    height: var(--header-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center, var(--header-height);
}