@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Roboto:wght@100;400;500;700&display=swap');
$primary: #7C2BCC;
$light: #F5F1F9;
$dark: #0A0311;
$secondary: #0A0311;
$font-family-base: "Montserrat";



