{% extends 'base.html.twig' %}

{% block title %}New Caracteristic{% endblock %}

{% block body %}
    <h1>Create new Caracteristic</h1>

    {{ include('admin_caracteristic/_form.html.twig') }}

    <a href="{{ path('app_admin_caracteristic_index') }}">back to list</a>
{% endblock %}
