<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
	<div class="container-fluid ">
		<a class="navbar-brand" href="{{ path('home' )}}">
			<img src="{{ asset('build/images/logo.png') }}" alt="">
			Wild immo
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Rechercher un bien</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Vendre un bien</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
